@import '~bootstrap/scss/bootstrap';


header{
    background-color: black;
    .active{
        border-bottom: 1px solid white;
    }
    .nav-link{
        text-transform: uppercase;
        font-weight: 600;
        color: rgb(225, 225, 225);
        padding-bottom: 5px;

        
        &:hover{
            color: white;
        }
    }
}

.headerCharacter{
    padding: 10px;
}

.img-type{
    width: 100%;
    aspect-ratio: 1/1;
}