@import '~bootstrap/scss/bootstrap';


header{
    background-color: black;
    .active{
        border-bottom: 1px solid white;
    }
    .nav-link{
        text-transform: uppercase;
        font-weight: 600;
        color: rgb(225, 225, 225);
        padding-bottom: 5px;

        
        &:hover{
            color: white;
        }
    }
}

.img-type{
    width: 100%;
    aspect-ratio: 1/1;
}

.char_img_index{
    width: 100%;
    aspect-ratio: 1/1;
}

.btn{
    min-width: 100px;
}

.card_home_custom{
    min-height: 600px;
}

.btn.active {
    background-color: #000;
    color: white;
}

.item_show_img{
    width: 100%;
}

.items-char-show{
    border: 3px solid white;
    border-radius: 10px;
}